:root,
.light,
.light-theme {
  --custom-1: #fbfcfe;
  --custom-2: #f7f9fc;
  --custom-3: #edf1f7;
  --custom-4: #e4e9f1;
  --custom-5: #dae1ec;
  --custom-6: #cfd8e5;
  --custom-7: #c0cbdb;
  --custom-8: #a8b7cc;
  --custom-9: #475569;
  --custom-10: #384659;
  --custom-11: #59677c;
  --custom-12: #212833;

  --custom-a1: #0040c004;
  --custom-a2: #0040a008;
  --custom-a3: #00398e12;
  --custom-a4: #00307b1b;
  --custom-a5: #00317d25;
  --custom-a6: #00307530;
  --custom-a7: #002d6e3f;
  --custom-a8: #002c6a57;
  --custom-a9: #00142fb8;
  --custom-a10: #00122ac7;
  --custom-a11: #001636a6;
  --custom-a12: #000815de;

  --custom-contrast: #fff;
  --custom-surface: #f5f8fbcc;
  --custom-indicator: #475569;
  --custom-track: #475569;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --custom-1: oklch(99.2% 0.002 257.3);
      --custom-2: oklch(98.2% 0.004 257.3);
      --custom-3: oklch(95.7% 0.0086 257.3);
      --custom-4: oklch(93.3% 0.0125 257.3);
      --custom-5: oklch(90.8% 0.0162 257.3);
      --custom-6: oklch(87.9% 0.0202 257.3);
      --custom-7: oklch(83.8% 0.0254 257.3);
      --custom-8: oklch(77.3% 0.0344 257.3);
      --custom-9: oklch(44.6% 0.0374 257.3);
      --custom-10: oklch(39.1% 0.0374 257.3);
      --custom-11: oklch(51% 0.0374 257.3);
      --custom-12: oklch(27.6% 0.0223 257.3);

      --custom-a1: color(display-p3 0.0235 0.2667 0.7569 / 0.016);
      --custom-a2: color(display-p3 0.0196 0.2667 0.6353 / 0.032);
      --custom-a3: color(display-p3 0.0078 0.1843 0.4745 / 0.067);
      --custom-a4: color(display-p3 0.0039 0.1569 0.4235 / 0.102);
      --custom-a5: color(display-p3 0.0078 0.1725 0.451 / 0.142);
      --custom-a6: color(display-p3 0.0039 0.1569 0.4157 / 0.181);
      --custom-a7: color(display-p3 0.0039 0.1529 0.3804 / 0.24);
      --custom-a8: color(display-p3 0.0039 0.1451 0.3725 / 0.33);
      --custom-a9: color(display-p3 0 0.0627 0.1608 / 0.71);
      --custom-a10: color(display-p3 0 0.0549 0.1451 / 0.769);
      --custom-a11: color(display-p3 0 0.0667 0.1843 / 0.64);
      --custom-a12: color(display-p3 0 0.0275 0.0745 / 0.867);

      --custom-contrast: #fff;
      --custom-surface: color(display-p3 0.9647 0.9725 0.9843 / 0.8);
      --custom-indicator: oklch(44.6% 0.0374 257.3);
      --custom-track: oklch(44.6% 0.0374 257.3);
    }
  }
}

.dark,
.dark-theme {
  --custom-1: #0e1116;
  --custom-2: #16191e;
  --custom-3: #1e252e;
  --custom-4: #262e3b;
  --custom-5: #2e3847;
  --custom-6: #384455;
  --custom-7: #455367;
  --custom-8: #596a83;
  --custom-9: #475569;
  --custom-10: #3a4657;
  --custom-11: #a8b8cf;
  --custom-12: #e4edf9;

  --custom-a1: #0012e606;
  --custom-a2: #6da3fe0e;
  --custom-a3: #79b1f920;
  --custom-a4: #88b6ff2d;
  --custom-a5: #91bdff3a;
  --custom-a6: #9ac4ff49;
  --custom-a7: #a0c6fd5d;
  --custom-a8: #a6cafd7b;
  --custom-a9: #a2c7fd5f;
  --custom-a10: #9dc6ff4b;
  --custom-a11: #cee2ffcc;
  --custom-a12: #eaf3fff9;

  --custom-contrast: #fff;
  --custom-surface: #1b212b80;
  --custom-indicator: #475569;
  --custom-track: #475569;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --custom-1: oklch(17.8% 0.0101 257.3);
      --custom-2: oklch(21.3% 0.0115 257.3);
      --custom-3: oklch(26.1% 0.0203 257.3);
      --custom-4: oklch(30% 0.026 257.3);
      --custom-5: oklch(33.8% 0.0295 257.3);
      --custom-6: oklch(38.2% 0.033 257.3);
      --custom-7: oklch(43.8% 0.0374 257.3);
      --custom-8: oklch(52% 0.0442 257.3);
      --custom-9: oklch(44.6% 0.0374 257.3);
      --custom-10: oklch(39.1% 0.033 257.3);
      --custom-11: oklch(77.9% 0.0369 257.3);
      --custom-12: oklch(94.2% 0.0187 257.3);

      --custom-a1: color(display-p3 0 0.0667 0.9608 / 0.022);
      --custom-a2: color(display-p3 0.498 0.6392 0.9961 / 0.055);
      --custom-a3: color(display-p3 0.5333 0.7333 1 / 0.118);
      --custom-a4: color(display-p3 0.5882 0.7255 0.9961 / 0.173);
      --custom-a5: color(display-p3 0.6157 0.7529 1 / 0.223);
      --custom-a6: color(display-p3 0.6471 0.7882 1 / 0.278);
      --custom-a7: color(display-p3 0.6784 0.8 1 / 0.353);
      --custom-a8: color(display-p3 0.6941 0.8 1 / 0.471);
      --custom-a9: color(display-p3 0.6863 0.8039 1 / 0.362);
      --custom-a10: color(display-p3 0.6588 0.7961 1 / 0.286);
      --custom-a11: color(display-p3 0.8314 0.8902 1 / 0.79);
      --custom-a12: color(display-p3 0.9294 0.9569 1 / 0.971);

      --custom-contrast: #fff;
      --custom-surface: color(display-p3 0.102 0.1255 0.1647 / 0.5);
      --custom-indicator: oklch(44.6% 0.0374 257.3);
      --custom-track: oklch(44.6% 0.0374 257.3);
    }
  }
}

[data-accent-color="custom"] {
  --accent-1: var(--custom-1);
  --accent-2: var(--custom-2);
  --accent-3: var(--custom-3);
  --accent-4: var(--custom-4);
  --accent-5: var(--custom-5);
  --accent-6: var(--custom-6);
  --accent-7: var(--custom-7);
  --accent-8: var(--custom-8);
  --accent-9: var(--custom-9);
  --accent-10: var(--custom-10);
  --accent-11: var(--custom-11);
  --accent-12: var(--custom-12);

  --accent-a1: var(--custom-a1);
  --accent-a2: var(--custom-a2);
  --accent-a3: var(--custom-a3);
  --accent-a4: var(--custom-a4);
  --accent-a5: var(--custom-a5);
  --accent-a6: var(--custom-a6);
  --accent-a7: var(--custom-a7);
  --accent-a8: var(--custom-a8);
  --accent-a9: var(--custom-a9);
  --accent-a10: var(--custom-a10);
  --accent-a11: var(--custom-a11);
  --accent-a12: var(--custom-a12);

  --accent-contrast: var(--custom-contrast);
  --accent-surface: var(--custom-surface);
  --accent-indicator: var(--custom-indicator);
  --accent-track: var(--custom-track);
}
